body {
  background-image: url(http://ladyspecial.ru/images/2015/03/28/5248908a76702bdc28dbc911e8ff3ded.jpg);
  background-size: 100%;
  text-shadow: gray 0px 0px 3px;
  background-repeat: repeat-x;
}
